body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 10px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

.signupBox {
  display: block;
  padding: 1em;
}
.loginBox {
  display: block;
  padding: 1em;
}
.lsBox {
  display: block;
  padding-bottom: 1em;
}
.lsBox span {
  padding-right: 1em;
}

.listCtl {
  text-align: left;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.metaTag {
  display: block;
  padding: 1em;
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-flex: 1;
  flex: 1;
}

.clickedTag {
  display: block;
  padding: 1em;
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-flex: 1;
  flex: 1;
  overflow: auto;
}

.uploadBox {
  display: block;
  padding: 1em;
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-flex: 1;
  flex: 1;
}

.keyInfo {
  display: block;
  overflow: auto;
  padding-bottom: 2em;
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-flex: 1;
  flex: 1;
}

.keyInfo p {
  margin: 0em;
}

.contentBox {
  display: block;
  padding: 1em;
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-flex: 1;
  flex: 1;
  overflow: auto;
}

.contentBox img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.contentBox video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.trackInfo {
  text-align: left;
  padding-bottom: 1em;
  overflow: auto;
  -webkit-flex: 1;
  -ms-flex: 1;
  -moz-flex: 1;
  flex: 1;
}

.trackInfo p {
  margin: 0em;
}

.playlistCtl {
  display: block;
  padding: 1em;
  border-width: 1px;
  border-color: #666;
  border-style: dashed;
  border-radius: 5px;
  overflow: auto;
}

.playlistCtlMedia {
  overflow: auto;
  padding-bottom: 1em;
}

.playlistCtlMedia p {
  margin: 0em;
}

.playlistElement:hover {
  opacity: 0.5;
  color: red;
  font-weight: bold;
}
